



<table *ngIf="sheet" border="1" class="table table-striped table-sheet">
    <tr><th>#</th>
        <th *ngFor="let col of sheet.col">{{ col }}</th>
    </tr>
    <tr *ngFor="let row of sheet.row; let i = index">
        <th  scope="row">{{ row }}</th>
        <td *ngFor="let col of sheet.col; let j = index" class="td-cell">
          <ex-cell [row]="i" [col]="j"
                   (cellNotifier)="onCellExited($event)"></ex-cell>
             <!-- <cell [id]="col+row"></cell> -->
        </td>
    </tr>
</table>
<hr>

<div class="alert alert-info" role="alert">
  <strong>TOTAL GRID:&nbsp;</strong> [{{rowCount}}x{{colCount}}]
    <a href="https://github.com/jratiwanich/excel-ng-app/" class="alert-link mycode">View Source Code</a>
</div>
