.table-sheet{
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
}

.table-sheet td:hover {
  background-color: #8ea8e9;
}

.table-sheet td.selected:hover {
  background-color: rgb(93, 136, 245);
}

.td-cell{
  cursor: pointer;
}

.mycode{
  float: right;
}

.alert-info{
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);

}
