



<table border="1" class="table table-striped table-sheet">
    <tr><th>#</th>
        <th *ngFor="let col of columns">{{ col }}</th>
    </tr>
    <tr *ngFor="let row of rows">
        <th  scope="row">{{ row }}</th>
        <td *ngFor="let col of columns">
          <ex-cell></ex-cell>
             <!-- <cell [id]="col+row"></cell> -->
        </td>
    </tr>
</table>
<hr>
<p>{{myrows}}</p>
<!-- <table border="1" class="table table-striped table-sheet">
    <tr *ngFor="let rows of cells">
        <th *ngFor="let co of rows">{{ co.col }}</th>
    </tr>
    <tr *ngFor="let row of sheet.row">
        <th  scope="row">{{ row }}</th>
        <td *ngFor="let col of sheet.col">
          <ex-cell></ex-cell>

        </td>
    </tr>
</table> -->
