
<ul class="nav nav-toolbar">
  <li class="nav-item mx-sm-3">
    <button type="button" class="btn btn-success btn-add"
    data-toggle="tooltip" data-placement="right"
    title="Add a column">Column</button>
  </li>
  <li class="nav-item mx-sm-3">
    <button type="button" class="btn btn-success btn-add"
    data-toggle="tooltip" data-placement="right"
    title="Add a row">Row</button>
  </li>
  <li class="nav-item mx-sm-3">
    <div class="input-group">
      <input type="text" class="form-control form-delete" placeholder="0">
      <span class="input-group-btn">
        <button class="btn btn-danger btn-delete" type="button"
        data-toggle="tooltip" data-placement="right"
        title="Delete a column">Column</button>
      </span>
    </div>
  </li>
  <li class="nav-item mx-sm-3">
    <div class="input-group">
      <input type="text" class="form-control form-delete" placeholder="0">
      <span class="input-group-btn">
        <button class="btn btn-danger btn-delete" type="button"
        data-toggle="tooltip" data-placement="right"
        title="Delete a row">Row</button>
      </span>
    </div>
  </li>
</ul>
