
<ul class="nav nav-toolbar">
  <li class="nav-item mx-sm-3">
    <button type="button" class="btn btn-success btn-add"
    data-toggle="tooltip" data-placement="right"
    title="Add a column" (click)="onAddColumn()" >Column</button>
  </li>
  <li class="nav-item mx-sm-3">
    <button type="button" class="btn btn-success btn-add"
    data-toggle="tooltip" data-placement="right"
    title="Add a row" (click)="onAddRow()" >Row</button>
  </li>
  <li class="nav-item mx-sm-3">
    <div class="input-group">
      <input type="text" class="form-control form-delete"
       [(ngModel)]="position.col">
      <span class="input-group-btn">
        <button class="btn btn-danger btn-delete" type="button"
        data-toggle="tooltip" data-placement="right"
        title="Enter a column number or use default to delete a column" (click)="onDeleteColumn(position.col)">Column</button>
      </span>
    </div>
  </li>
  <li class="nav-item mx-sm-3">
    <div class="input-group">
      <input type="text" class="form-control form-delete"
        [(ngModel)]="position.row">
      <span class="input-group-btn">
        <button class="btn btn-danger btn-delete" type="button"
        data-toggle="tooltip" data-placement="right"
        title="Enter a row number or use default to delete a row" (click)="onDeleteRow(position.row)">Row</button>
      </span>
    </div>
  </li>
</ul>
